@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600&display=swap');
body {
    background-color: #F6F8FB;
    font-family: 'Lato', Arial, serif, sans-serif !important;
}

.card {
    border: solid 1px #f4f4f5;
}

.logo {
    margin-bottom: 20px;
}

.login-card form {
    max-width: 326px;
}

.login-card .form-control {
    border: 1px solid #d5dae2;
    padding: 15px 25px;
    margin-bottom: 20px;
    min-height: 45px;
    font-size: 13px;
    line-height: 15;
    font-weight: normal;
}

#login {
    padding: 13px 20px 12px;
    background-color: #000;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
}

.login-card-description {
    font-size: 25px;
    color: #000;
    font-weight: normal;
    margin-bottom: 23px;
}

.login-card-footer-nav {
    font-size: 14px;
    color: #919aa3;
}

.login-card-footer-nav a {
    text-decoration: underline;
    color: #919aa3;
}

.login-card .card-body {
    padding: 95px 60px 80px;
}

.login-card-img {
    border-radius: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

@media only screen and (max-width:500px) {
    .col-md-5 {
        display: none;
    }
}