.col-md-4 {
	text-align: left;
	float: left;
	width: 40%
}
.col-md-8 {
	text-align: left;
	float: left;
	width: 40%
}
.clearfix {
	clear: both;
}
#receipt { 
	padding:  0px!important;
	width: 100%!important;
	margin:0;
	font-size: 12px;
	display: block;
	width: auto;
	height: auto;
	overflow: visible; 
}

#r-items-table {
	width: 100%!important;
}
table {
	width: 100%!important;
}

.r-header {
	margin-bottom: 20px;
	
}


.r-footer {
	text-align: center;
	margin: 30px 0;
	font-weight: bold;
}

.r-header h3 {
	margin-top: 0;
	margin-bottom: 15px;
	text-align: center;
}


