body {
  overflow-x: hidden;
  margin-bottom: -20px;
  border-collapse: collapse;
}
#side-menu {
    min-height: 650px;
    margin:0;
    padding: 0;
    background: #f8f8f8;
    border-right:solid 1px #e7e7e7;
}

.dataTables_filter {
  float: right;
}
 
.dataTables_filter input{
  border:solid 1px #ddd;
}

.dataTables_length {
  float: left;
}

.dataTables_length select {
  border:solid 1px #ddd;
}

#main-header {
  background: #f8f8f8;
  color: #000;
  
  border-bottom:solid 1px #e7e7e7;
  padding: 17px 15px;
}

#main-header h2 {
  font-size: 17.5px;
  margin: 0;
  color: #333;

}

.vertical-center {
 /* Fallback for browsers do NOT support vh unit */
/* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#main-header p {
  margin: 0;
  font-size: 16.5px;
  color: #333;
}

#navbar {
  margin:0;
  padding-right: 12px;
  background: #211d1d;
  border-radius: 0 !important;
  border:0;
  border-bottom: solid 5px silver;
}

.navbar-brand {
  color: white !important;
}



.list-side-menu li {

  padding: 8px 0;
  border: 0.5px silver solid;

}

.list-side-menu li a {
  color: #428bca;
  font-size: 16px;

}

#main {
  background: white;
  padding: 0 25px;

}

#main .page-title {
  margin-bottom: 30px;
  border-bottom: solid 1px #eee;
  padding-bottom: 10px;
  font-size: 27px; 
}

.#ui-id-1 {
  list-style-type: none;
  padding: 0;
}

#content {

  min-height: 650px;
  height: inherit;
  width: 100%;
  padding: 10px;

}

#content-new-item {
  padding: 15px;
 
}

.active-link {
  background: #eeeeee;

}

#side-menu .nav .nav-item .nav-link {
  border-bottom: solid 1px #e7e7e7;
}

#side-menu .nav .nav-item .nav-link i {
    width: 10px;
    font-size: 15px;
}

#side-menu .nav .nav-item .nav-link span {
    font-size: 15px;
    padding-left: 10px;
}



#footer {

   padding-top: 50px;
   margin:0;
}

footer {
  text-align: center;
  background: #f8f8f8;
}

footer div p {
  padding: 28px 0 10px 0;
  color: #777;
}

#category_tbl {
  padding: 10px;
}

#new_category {
  margin-top: 10px;
}

.table-wrapper {
  overflow:hidden;
  min-height: 564px;
}

#item_tbl td {
  max-width: 150px;
}

#item_info {

}

.item_info {
  background: white;
  padding: 0;
}

nav ul li:before {
    content:'';
    height:100%;
    display:inline-block;
    vertical-align: middle;
}

.glyphicon {
  font-size: 50px;
  color:  #428bca;
}

.fa-big {
  font-size: 50px;
  color:  #428bca;
}

#sales-nav {
    list-style-type: none;
   margin: 0;
   padding: 0;
   border-collapse: collapse;
 
   border:solid 1px #eee;
}

#sales-nav li {
  float: left;
 


}

#sales-nav li a{
    padding: 13px 20px;
    display: inline-block;
    border-right: solid 1px #ddd;
}

#sales-nav li a.active {
  background: #eee;
}
#sales-nav li a:hover {
  text-decoration: none;
  background: #eee;
}

